/* body {
  height: 1400px;
  background-color: #333333;
} */

footer {
  margin-top: auto;

  padding: 0.25rem 2rem;

  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: space-between;

  color: white;
  background-color: var(--accent-clr);
}

.footer-info > p,
.footer-info__link {
  font-size: 0.75rem;

  color: white;
  text-align: center;
}

.footer-info__link {
  text-decoration: none;
}

.footer-info__link:hover,
.footer-info__link:focus {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
}

.footer-social__icon {
  height: 1.5rem;
  border-radius: 25%;
}

.footer-social__icon > path {
  fill: white;
}

@media (max-width: 400px) {
  footer {
    padding-inline: 0.5rem;

    flex-wrap: wrap;
    justify-content: center;
  }
}
