.carousel {
    position: relative;
    height: 400px;
    width: 80%;
    margin: 0 auto;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* image will be cut instead of streached */
}

.carousel__track-container {
    /* background-color: lightgreen; */
    padding: 10px;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 100px;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    
    height: 100%; /* necessary cause js track.transform shrinks them to 0 */
    transition: .6s ease;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    
    width: 100%;
}

/* Next and previous buttons */
.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* move up 50% of button height */

    cursor: pointer;

    background: none;
    border-radius: 30%;
    border: none;

    transition: background .2s ease-in; /* animate background fade-in on hover */
}

.carousel__button:hover {
    background: rgba(0,0,0,0.3);
}

.carousel__prevBtn {
    left: -40px;
}

.carousel__nextBtn {
    right: -40px;
}

.carousel__button img {
    width: 30px;
    margin: 40px 0;
}

/* Navigation buttons */
.carousel__nav {
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: none;
    border-radius: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0,0,0,0.3);
    margin: 0 12px;

    /* animate background fade-in on hover */
    -moz-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    -webkit-transition: background .2s ease-in;
    transition: background .2s ease-in;
}

.carousel__indicator:hover {
    background: rgba(0,0,0,0.6);
}

.carousel__indicator.current-slide {
    background-color: rgba(0,0,0,0.75);
}

.carousel__indicator:not(.carousel__indicator.current-slide) {
    cursor: pointer;
}
