* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* colors depend on project */
  --primary-clr: #3c6f9b;
  --secondary-clr: #294f66;
  --accent-clr: #5cb0e5;
  --text-clr: #666666;

  --bg-clr-dark: #252525;
}

html {
  scroll-behavior: smooth;

  height: 100%;
}

body {
  /* so the footer sticks to the bottom of page with margin-top: auto; */
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  /* so everything just shrink on tiny tiny screens (<320px) */
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a {
  font-family: inherit;
}

/* names of pages */
h1 {
  margin: 2rem;

  text-align: center;
  text-transform: uppercase;

  font-size: min(8rem, 16vw);

  color: var(--primary-clr);
}

/* names of sections */
h2 {
  margin: 1.5rem;
  padding-top: 3rem;

  text-align: center;
  text-transform: uppercase;

  font-size: min(6rem, 12vw);

  color: var(--primary-clr);
}

/* names of subsections */
h3 {
  margin: 1rem;
  padding-top: 2rem;

  text-align: center;
  font-size: min(4rem, 8vw);

  color: var(--secondary-clr);
}

/* other titles (posts etc) */
h4 {
  font-size: 1.5rem;

  color: var(--accent-clr);
}

p,
pre {
  font-size: 1.25rem;

  color: var(--text-clr);
}

a {
  color: var(--accent-clr);
}

.hidden {
  display: none;
}

@media only screen and (max-width: 450px) {
  /* names of pages */
  h1 {
    margin: 1rem;

    /* font-size: 5rem; */
  }

  /* names of sections */
  h2 {
    margin: 0.75rem;
    padding-top: 1.5rem;

    /* font-size: 3.5rem; */
  }

  /* names of subsections */
  h3 {
    margin: 0.5rem;
    padding-top: 1rem;

    /* font-size: 2.25rem; */
  }

  /* other titles (posts etc) */
  h4 {
    font-size: 1.375rem;
  }

  p,
  pre {
    font-size: 1.1rem;
  }
}
