body {
  height: 3000px;
  background: linear-gradient(#833692, #09aad3);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #444;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #333, #111, #000);
  box-shadow: inset 0 0 1px 1px #666;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}