body {
  background-color: #202020;
}

.countdown {
  flex: 1 1 100%;

  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: Trebuchet MS, fantasy, sans-serif;
}

.countdown__event-status {
  font-size: 2em;

  text-shadow: 1px 1px 2px white;
}

.countdown span:nth-child(2n) {
  margin-left: 1rem;

  font-size: 3em;

  text-shadow: 1px 1px 2px white;
}

.hidden {
  display: none;
}
