img:not(#lightbox) {
  /* indicator that there is a lightbox */
  cursor: pointer;
}

#lightbox {
  position: fixed;
  top: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;

  display: none;

  background-color: rgba(0, 0, 0, 0.8);

  cursor: pointer;
}

#lightbox.active {
  display: grid;
  place-items: center;
}

#lightbox img {
  margin: 2rem;

  max-width: min(90%, 60rem);
  max-height: min(90%, 60rem);

  /* double outline */
  padding: 2px;
  background-color: white;
  border: 3px solid var(--accent-clr);
  border-radius: 1rem;

  cursor: default;
}
